* {
    box-sizing: border-box;
}

@font-face {
    font-family: "TTLakes";
    src: url(FONTS/TTLakes-Regular.woff) format(woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TTLakes-bold";
    src: url(FONTS/TTLakes-ExtraBold.woff) format(woff);
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: TTLakes, Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.aside {
    width: 320px;
    display: flex;
    flex-direction: column;
    box-shadow: 16px 0 52px #0E185033;
}

.icons {
    background: none;
    border: none;
    transition: transform 0.3s ease-in-out;
}

.aside__top {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.aside__top__left {
    display: flex;
    margin: 24px;
}

.aside__top__right {
    display: flex;
    margin: 24px;

}

.aside__nav {
    margin-left: 0;
}

.aside__nav__list {
    list-style: none;
    margin-bottom: 270px;
}

.aside__nav__list a {
    display: block;
    padding: 8px;

}

ul {
    margin: 0;
    padding: 0;
}

.aside__nav__list li {
    margin-bottom: 32px;
    margin-left: 32px;
    position: relative;
}

.aside__nav__list li:hover {
    color: #7E7E82;
    border-left: 4px solid #41F6D7;
    padding-left: 8px;
}

li {
    margin-bottom: 32px;
}

.aside__bot {
    margin-left: 24px;
}

address {
    font-style: normal;
}

.contats__phone {
    font-family: TTLakes-bold;
    font-size: 24px;
}

.aside__bot__language {
    display: flex;
    margin-bottom: 32px;
}

.aside__bot__language div {
    margin-right: 7px;
}


.icons:hover  {
    transform: scale(1.2);
}

.aside__bot__language div.active a {
    background-color: #7E7E82;
    color: #fff;
    border-radius: 3px;
}


